<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
html {
font-family: Lucida Grande;
font-size: 12px;
color: black;
}
</style>
    <title>Daily Results</title>
  </head>
  <body>
    <h1>Daily Results − YYYY-MM-DD<br>
    </h1>
    <p><b>Desired outcomes</b> - what are the six outcomes I want to achieve today, in order of importance?<br>
    </p>
    <ol>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
    </ol>
    <p><br>
    </p>
    <p><b>Completions</b> - what did I complete today?</p>
    <ol>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
    </ol>
    <p><br>
    </p>
    <p><b>Insights</b> - what did I learn today?<br>
    </p>
    <ul>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
    </ul>
    <p><br>
    </p>
    <p><b>Reflection</b> - how did I do today?<br>
    </p>
    <ul>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
    </ul>
    <p><br>
    </p>
    <p><b>Braindump</b> - what do I need to remember from today?</p>
    <ul>
      <li>&hellip;</li>
      <li>&hellip;</li>
      <li>&hellip;</li>
    </ul>
    <br>
    <p><b>Diary Section</b> - what did I do today?</p>
    <i>Describe events of the day</i>
    &hellip;<br> 
    &hellip;<br>
    <p><b>Action Log</b> - log relevant actions [timestamp] - description</p>
    <ol>
       <li>&hellip;</li>
       <li>&hellip;</li>
    </ol>
  </body>
</html>
