<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style>
html {
font-family: Lucida Grande;
font-size: 12px;
color: black;
}
</style>
    <title>Daily Results − YYYY-MM-DD</title>
  </head>
  <body>
    <h1>Daily Results − YYYY-MM-DD<br>
    </h1>
    <p><b>Desired outcomes</b> - what are the 3 by 3 outcomes I want to
      achieve today, in order of importance (Major - three hours, minor
      - one hour)?<br>
    </p>
    <ol>
      <li>(major) :<br>
      </li>
      <li>(minor) :<br>
      </li>
      <li>(minor) :<br>
      </li>
      <li>(minor) :<br>
      </li>
    </ol>
    <p><br>
    </p>
    <p><b>Completions</b> - what did I complete today?</p>
    <ol>
      <li>…</li>
      <li>…</li>
      <li>…</li>
    </ol>
    <p><br>
    </p>
    <p><b>Insights</b> - what did I learn today?<br>
    </p>
    <ul>
      <li>…</li>
      <li>…</li>
      <li>…</li>
    </ul>
    <p><br>
    </p>
    <p><b>Reflection</b> - how did I do today?<br>
    </p>
    <ul>
      <li>…</li>
      <li>…</li>
      <li>…</li>
    </ul>
    <p><br>
    </p>
    <p><b>Braindump</b> - what do I need to remember from today?</p>
    <ul>
      <li>…</li>
      <li>…</li>
      <li>…</li>
    </ul>
    <br>
    <p><b>Diary Section</b> - what did I do today?</p>
    <i>Describe events of the day</i> …<br>
    …<br>
    <p><b>Action Log</b> - log relevant actions [timestamp] -
      description</p>
    <ol>
      <li>…</li>
      <li>…</li>
    </ol>
  </body>
</html>
